$font-weight--bold: 700;
$font-weight--normal: 400;
$font-weight--light: 300;

$font-size--body: 16px;
$font-size--h1: 3.2em;
$font-size--large: 2rem;
$font-size--normal: 1.5em;
$font-size--small: 0.85em;



$h1-color: #474747;
$h1-shadow-color: #000000;
$bg-color: #EBEBEB;
$footer-bg-color: #FFFFFF;
$box-shadow-color: #808080;
$border-color: #EBEBEB;
$delete-btn-color: #cc9a9a;
$done-color: #A8A8A8;


$text-color--lighten: #FFFFFF;
$text-color--light: #606060;
$text-color: #474747;


$todo-padding: 19px;
$todo-border-radius: 5px;
$line-height: 1.2;
