@import "helpers/variables";
@import "helpers/media";
@import "vendor/libs";


body {
    max-width: 1170px;
    height: 100vh;
    margin: 0 auto;

    background: $bg-color;

    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: $font-size--body;
    line-height: $line-height;
}

.title {
    text-align: center;

    color: $h1-color;
    text-shadow: 1px 2px 2px $h1-shadow-color;

    font-size: $font-size--h1;
}

.inner {
    display: block;

    max-width: 45%;
    margin: 0 auto;

    @include media-320 {
        max-width: 90%;
    }
    @include media-576 {
        max-width: 80%;
    }
    @include media-768 {
        max-width: 70%;
    }
    @include media-992 {
        max-width: 45%;
    }
}

.todo__input {
    box-sizing: border-box;
    width: 100%;
    padding: $todo-padding;

    transition: 0.3s all;

    color: $text-color;
    border: none;
    border-radius: $todo-border-radius;
    outline: none;
    box-shadow: 0px 0px 5px $box-shadow-color;

    font-size: $font-size--normal;
    line-height: 1;
    &:focus {
        transform: translateY(-1px);

        box-shadow: 0px 1px 10px darken($box-shadow-color, 15);
    }
}

.todo-list {
    margin: 0;
    padding: 0;

    list-style-type: none;

    color:  $text-color;

    font-size: $font-size--normal;

    &__item {
        position: relative;

        margin: 3px 0px;
        padding: 19px 19px 19px 40px;

        border-radius: $todo-border-radius;
        background-color: $text-color--lighten;
        box-shadow: 0px 0px 5px $box-shadow-color;
    }

    &__desc {
        display: block;

        cursor: pointer;
        transition: .5s all;
        word-break: break-word;
    }

    &__edit {
        outline: none;
    }

    &__delete {
        position: absolute;
        top: -3px;
        right: 6px;

        height: 0;
        padding: 0;

        cursor: pointer;
        transition: color 0.2s ease-out;

        color: $delete-btn-color;
        border: 0;

        font-size: $font-size--large;
        &::after {
            content:'\00d7';
        }

        &:hover,&:focus {
            color: $delete-btn-focus-color;
            outline: none;
        }
    }
}

.footer {
    &__nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        margin-top: 3px;
        padding: $todo-padding;

        border-radius: $todo-border-radius;
        background-color: $footer-bg-color;
        box-shadow: 0px 0px 5px $box-shadow-color;
    }
}

.button-box {
    margin: 0;
    padding: 0;

    list-style-type: none;

    @include media-custom(400px) {
        flex-grow: 1;

        text-align: center;
    }
    & > li {
        display: inline-block;
    }
}

button {
    padding: 2px;

    cursor: pointer;

    color: $text-color--light;
    border: 1px solid transparent;
    outline: none;
    background: none;

    font-size: $font-size--small;

    &:focus {
        box-shadow: 0px 0px 1px $button-focus-color;
    }
}

.button-selected {
    color: darken($text-color--light, 15);
    border: 1px solid lighten($text-color--light, 35);
    border-radius: 2px;
}

.clear-btn {
    display: block;

    @include media-custom(400px) {
        flex-grow: 1;
    }

    &:focus {
        border: 1px solid transparent;
    }
}

.done {
    transition: .5s all;
    text-decoration: line-through;

    color: $done-color;
}

.item-edit {
    outline: none;
}

.todo-list__check-input {
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

}

.todo-list__check-box {
    position: absolute;
    top: 50%;
    left: 0.3em;

    width: 1em;
    height: 1em;

    cursor: pointer;
    transform: translateY(-50%);

    border: 1px solid $done-color;
    border-radius: 50%;
}

.todo-list__check-input:checked + .todo-list__check-box {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 210 297'%3E%3Cpath d='M149.083 119.52a3.534 3.534 0 00-5.066 0l-58.065 59.195-22.838-23.283a3.534 3.534 0 00-5.066 0 3.702 3.702 0 000 5.164l25.372 25.866a3.535 3.535 0 005.066 0l60.597-61.777a3.702 3.702 0 000-5.164z' fill='gray'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
}

.todo-list__check-input:focus + .todo-list__check-box {
    border: 1px solid darken($done-color, 35);
}

.hide {
    display: none;
}
