@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "../blocks/modules";
// @import "base/general";


body {
    background: $bg-color;
    font-size: $font-size--body;
    line-height: $line-height;
    font-family: 'Source Sans Pro', sans-serif;
    max-width: 1170px;
    margin: 0 auto;
    height: 100vh;
}

.title {
    text-align: center;
    color: $h1-color;
    font-size: $font-size--h1;
    text-shadow: 1px 2px 2px $h1-shadow-color;
}

.inner {
    width: 45%;
    display: block;
    margin: 0 auto;
}

.todo__input {
    font-size: $font-size--normal;
    line-height: 1;
    color: $text-color;
    width: 100%;
    padding: $todo-padding;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-radius: $todo-border-radius;
    box-shadow: 0px 0px 5px $box-shadow-color;
    transition: 0.3s all;
    &:focus {
        box-shadow: 0px 1px 10px darken($box-shadow-color, 15);
        transform: translateY(-1px);
    }
}

.todo-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: $font-size--normal;
    color:  $text-color;

    &__item {
        position: relative;
        background-color: $text-color--lighten;
        box-shadow: 0px 0px 5px $box-shadow-color;
        margin: 3px 0px;
        padding: $todo-padding;
        border-radius: $todo-border-radius;
    }

    &__desc {
        cursor: pointer;
        word-break: break-word;
        transition: .5s all;
    }

    &__edit {
        outline: none;
    }

    &__delete {
        display: none;
        position: absolute;
        cursor: pointer;
        top: 0;
        right: 0;
        font-size: $font-size--large;
        color: $delete-btn-color;
        margin-bottom: 11px;
        transition: color 0.2s ease-out;
        &::after {
            content:'\00d7';
        }

        &:focus {
            border: 0;
            background: none;
            outline: none;
        }
    }
}

.footer {
    &__nav {
        display: flex;
        justify-content: space-between;
        background-color: $footer-bg-color;
        box-shadow: 0px 0px 5px $box-shadow-color;
        margin-top: 3px;
        padding: $todo-padding;
        border-radius: $todo-border-radius;
    }

    &__count {
        margin: 0;
        padding: 2px;
        font-size: $font-size--small;
        color: $text-color--light;
    }
}

.button-box {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
}

button {
    font-size: $font-size--small;
    color: $text-color--light;
    cursor: pointer;
    background: none;
    outline: none;
    padding: 2px;
    border: 1px solid transparent;
}

.clear-btn {
    display: none;

    &:focus {
        border: 1px solid transparent;
    }
}

.done {
    display: block;
    color: $done-color;
    text-decoration: line-through;
    transition: .5s all;
}

.item-edit {
    box-shadow: 0px 1px 10px darken($box-shadow-color, 15);
    background-color: darken($text-color--lighten, 3);
    color: $text-color;
    transform: translateY(-1px);
}
